.text-primary{
color: #999999;
font-family: 'Pacifico', serif;
text-shadow: 2px 2px 4px #000000;
}

body {
text-align: center;
background-color: #CDD7B6;
}

.quoteBox {
  font-family: 'Indie Flower', serif;
  font-size: 2.5em;
  color: black;
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(100,100,100);
}

#author {
  font-family: 'Indie Flower';
  color: black;
  font-size: 0.5em;

}

a {
  position: relative;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
  font-size: 8pt;
}
.btn1, .btn2 {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #77CCA4;
    color: #333333;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #999999;
}

.btn-primary:active, .btn-primary.active {
    background: #77CCA4;
    box-shadow: none;
}
.btn1, .btn2{
  border-radius:0;
}

/* footer formatting */
.footer {
  background-color: #222;
  border-top: 3px outset #77CCA4;
  bottom: 0;
  font-size: 14px;
  font-weight: normal;
  min-width: 320px;
  padding: 1em 1em 0 1em;
  position: absolute;
  width: 100%;
}

.footer-logos {
  font-size: 14px;
  margin-top: -.5em;
}

.footer-logos a {
  text-decoration: none;
}

.footer-logos i {
  border: 1px solid #77CCA4;
  border-radius: 30%;
  color: #77CCA4;
  margin: 0.5em;
  padding: .4em;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: -1.5em;
}

.footer-logos .genericon {
  height: 2em;
  width: 2em;
}

.footer-logos .fa {
  height: 2em;
  width: 2em;
}

.attribution-logo {
  vertical-align: text-bottom;
  width: 90px;
}

.footer .container-fluid {
  max-width: 768px;
}
